<<<<<<< Updated upstream
.card {
  position: relative;
  border-radius: 24px;
  &::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 6px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/dots.png);
    @media screen and (max-width: 767px) {
      top: 214px;
      right: 127px;
    }
    @media screen and (min-width: 768px) {
      top: 205px;
      right: 97px;
    }
    @media screen and (min-width: 1280px) {
      top: 229px;
      right: 152px;
    }
  }

  &__header {
    padding-top: 161px;
    font-family: Titan One;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
    @media screen and (min-width: 768px) {
      font-family: Titan One;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
    }
    @media screen and (min-width: 1280px) {
      font-family: Titan One;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &__label {
    width: 200px;
    margin: 66px auto;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: none;
    color: #ffffff;
    @media screen and (min-width: 768px) {
      font-family: DM Sans;
      font-weight: 700;
      font-size: 14px;
      line-height: 176%;
      letter-spacing: 0.04em;
      color: #ffffff;
    }
    @media screen and (min-width: 1280px) {
      font-family: DM Sans;
      font-weight: 700;
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.04em;

      color: #ffffff;
    }
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    left: 120px;
    bottom: 41px;
    @media screen and (min-width: 768px) {
      left: 90px;
    }
    @media screen and (min-width: 1280px) {
      left: 144px;
      transition-duration: 500ms;
      &:hover {
        transform: scale(1.28);
      }
    }
  }
  &__image {
    position: absolute;

    top: -113px;
    right: 15px;
    @media screen and (min-width: 768px) {
      right: 0;
    }
    @media screen and (min-width: 1280px) {
      right: 0;
      top: -250px;
      width: 337px;
      height: 335px;
    }
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 485px;
  }
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
  }
  &--icecream {
    background-color: #ffb8ca;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/desktop-products/desktop-1-ice.png);
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (max-width: 767px) {
        width: 249px;
        right: 16px;
        height: 252px;
        top: -113px;
        background-image: url(../images/mobile-products/mobile-1-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: url(../images/mobile-products/mobile-1-ice@2x.png);
      }
      @media screen and (min-width: 768px) {
        width: 220px;
        height: 226px;
        top: -102px;
        background-image: url(../images/tablet-products/tablet-1-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/tablet-products/tablet-1-ice@2x.png);
      }

      @media screen and (min-width: 1280px) {
        width: 335px;
        height: 335px;
        top: -201px;
        background-image: url(../images/desktop-products/desktop-1-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
        screen and (min-resolution: 192dpi) and (min-width: 1280px),
        screen and (min-resolution: 2dppx) and (min-width: 1280px) {
        background-image: url(../images/desktop-products/desktop-1-ice@2x.png);
      }
    }
  }
  &--coffee {
    background-color: #f0d1a5;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      @media screen and (max-width: 767px) {
        width: 249px;
        right: 16px;
        height: 252px;
        top: -113px;
        background-image: url(../images/mobile-products/mobile-2-ice.png);
      }

      @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: url(../images/mobile-products/mobile-2-ice@2x.png);
      }

      @media screen and (min-width: 768px) {
        width: 220px;
        height: 226px;
        top: -102px;
        background-image: url(../images/tablet-products/tablet-2-ice.png);
      }

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/tablet-products/tablet-2-ice@2x.png);
      }

      @media screen and (min-width: 1280px) {
        width: 335px;
        height: 335px;
        top: -201px;
        background-image: url(../images/desktop-products/desktop-2-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
        screen and (min-resolution: 192dpi) and (min-width: 1280px),
        screen and (min-resolution: 2dppx) and (min-width: 1280px) {
        background-image: url(../images/desktop-products/desktop-2-ice@2x.png);
      }
    }
  }
  &--milkshakes {
    background-color: #c2e297;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (max-width: 767px) {
        width: 249px;
        right: 16px;
        height: 252px;
        top: -113px;
        background-image: url(../images/mobile-products/mobile-3-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: url(../images/mobile-products/mobile-3-ice@2x.png);
      }
      @media screen and (min-width: 768px) {
        width: 220px;
        height: 226px;
        top: -102px;
        background-image: url(../images/tablet-products/tablet-3-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/tablet-products/tablet-3-ice@2x.png);
      }

      @media screen and (min-width: 1280px) {
        width: 335px;
        height: 335px;
        top: -201px;
        background-image: url(../images/desktop-products/desktop-3-ice.png);
      }
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
        screen and (min-resolution: 192dpi) and (min-width: 1280px),
        screen and (min-resolution: 2dppx) and (min-width: 1280px) {
        background-image: url(../images/desktop-products/desktop-3-ice@2x.png);
      }
    }
=======
// MOBILE //
.section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.products__button {
  width: 40px;
  height: 40px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-image: url(../images/products/arrow.jpg);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .products {
    &__item {
      display: flex;
      justify-content: center;
      width: 280px;
      height: 515px;
      &::after {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    &__secondary-title {
      font-size: 22px;
    }
    &__description {
      font-size: 15px;
    }
  }
}

.products .products__label {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: center;
}
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 121px;
  padding-bottom: 98px;

  &__label {
    font-family: $font-header;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: $color-accent;
  }
  &__title {
    font-family: $font-header;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-highlight;
    margin: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    width: 100%;
    height: 485px;
    border-radius: 24px;
    padding: 161px 41px 21px 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    margin-top: 180px;
    &::after {
      content: url(../images/products/dots.png);
      position: relative;
      top: -265px;
      right: 0;
    }

    &:nth-child(1) {
      background: $color-ice-cream-card-bg;
      &::before {
        content: url(../images/products/mobile/mobile-ice-cream.png);
        position: absolute;
        top: -160px;
        right: 4%;
      }
    }
    &:nth-child(2) {
      background: $color-ice-coffee-card-bg;
      &::before {
        content: url(../images/products/mobile/mobile-ice-coffee.png);
        position: absolute;
        top: -160px;
        right: 4%;
      }
    }
    &:nth-child(3) {
      background: $color-milkshakes-card-bg;
      &::before {
        content: url(../images/products/mobile/mobile-milkshakes.png);
        position: absolute;
        top: -160px;
        right: 4%;
      }
    }
  }

  &__secondary-title {
    font-family: $font-header;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-light;
  }
  &__description {
    font-family: $font-primary;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: $color-light;
    margin-bottom: 30px;
  }
}

/*TABLET*/

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .section {
    &-products {
      padding: 0px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;

    &__label {
      font-size: 26px;
      line-height: 1.15;
    }
    &__title {
      font-size: 48px;
      line-height: 1.15;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0px;
      padding: 0px;
    }
    &__item {
      width: 220px;
      padding: 152px 11px 21px 11px;
      position: relative;
      margin-top: 200px;
      &::after {
        top: -274px;
      }

      &:nth-child(1) {
        margin-right: 20px;
        &::before {
          content: url(../images/products/tablet/tablet-ice-cream.png);
          top: -150px;
          right: 0;
        }
      }
      &:nth-child(2) {
        margin-right: 20px;
        &::before {
          content: url(../images/products/tablet/tablet-ice-coffee.png);
          top: -150px;
          right: 0;
        }
      }
      &:nth-child(3) {
        &::before {
          content: url(../images/products/tablet/tablet-milkshakes.png);
          top: -150px;
          right: 0;
        }
      }
    }
    &__description {
      height: 124px;
      font-size: 14px;
      line-height: 1.785;
      margin-bottom: 40px;
      overflow: hidden;
    }
  }
}
/*DESKTOP*/
@media screen and (min-width: 1280px) {
  .section {
    &-products {
      padding: 122px 0px 112px 0px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .container-products {
    max-width: 1280px;
  }
  .products {
    padding-top: 127px;

    &__label {
      font-size: 30px;
      line-height: 1.13;
    }
    &__title {
      font-size: 58px;
      line-height: 1.14;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__item {
      width: 329px;
      height: 100%;
      padding: 163px 44px 50px 44px;
      position: relative;
      margin-top: 259px;
      &::after {
        top: -290px;
      }

      &:nth-child(1) {
        margin-right: 29px;
        &::before {
          content: url(../images/products/desktop/desktop-ice-cream.png);
          top: -220px;
          right: 0;
        }
      }
      &:nth-child(2) {
        margin-right: 30px;
        &::before {
          content: url(../images/products/desktop/desktop-ice-coffee.png);
          top: -220px;
          right: 0;
        }
      }
      &:nth-child(3) {
        &::before {
          content: url(../images/products/desktop/desktop-milkshakes.png);
          top: -220px;
          right: 0;
        }
      }
    }
    &__secondary-title {
      font-size: 30px;
      line-height: 1.13;
    }
    &__description {
      height: 106px;
      margin-top: 70px;
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 1.75;
      overflow: hidden;
    }
>>>>>>> Stashed changes
  }
}
