/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './base/all';
@import './utils/variables';
@import './header';
@import './products/products';
@import './components/reviews';
@import './contacts';
