<section class="contacts">
    <div class="container">
        <div class="contacts__layout">
            <h1 class="contacts__headline">Contacts</h1>
            <div class="contacts__list-box">
                <ul class="contacts__list">

                    <li class="cafe--chicago">
                        <p class="cafe">CAFE</p>
                        <p class="city">Chicago</p>
                        <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <p class="timetable"><span class="weekly">Monday - Friday</span>06:00 AM - 10:00 PM
                            <span class="weekly">Saturday - Sunday</span>08:00AM - 16:00PM
                        </p>
                        <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>

                    <li class="foodtrack">
                        <p class="cafe">FOODTRACK</p>
                        <p class="city">Los Angeles</p>
                        <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <p class="timetable"><span class="weekly">Monday - Friday</span>06:00 AM - 10:00 PM
                            <span class="weekly">Saturday - Sunday</span>08:00AM - 16:00PM
                        </p>
                        <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>

                    <li class="cafe--new-york">
                        <p class="cafe">CAFE</p>
                        <p class="city">New York</p>
                        <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <p class="timetable"><span class="weekly">Monday - Friday</span>06:00 AM - 10:00 PM
                            <span class="weekly">Saturday - Sunday</span>08:00AM - 16:00PM
                        </p>
                        <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>