<section class="footer"> 
    <div class="container footer__container">      
        <div class="footer__left"> 
            <h3 class="footer__title">homemade ice cream made</h3>
            <h3 class="footer__title-second">with passion </h3>
        </div>
             
        <div class="footer__right">
            <ul class="footer__social-list">
                <li class="footer_social-list-item">
                        

                </li>
                <li class="footer_social-list-item"></li>
                <li class="footer_social-list-item"></li>
            </ul>
            <p class="footer__contact-title">
                Feel free to contact
                <a class="footer__contact-link" href="telto:+61(0)383766284">+61 (0) 383 766 284</a>
            </p>

        </div>
    </div>
        <div class="containter"> 
            <div class="line">

            </div>
        </div>
    <div class="container">
        <div class="copyright">
            <a class="copyright__link" href="#">
            <div> © 2019 - IceCream. All Rights Reserved. </div>
        </div>
    </div>
</section>