<section class="footer"> 
    <div class="footer__container">
            <h3 class="footer__text">homemade ice cream made</h3>
            <h3 class="footer__text">with passion </h3>

        <div class="footer__left"> 

            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>

                <div>Feel free to contact +61 (0) 383 766 284</div>

        </div>
             
        <div class="footer__right">


        </div>

        <div class="footer__copywrites">

            <div> © 2019 - IceCream. All Rights Reserved. </div>

        </div>

    

    </div>

</section>