<div class="header">
    <div class="container">
        <img class="header__logo"
            src="../images/logo 1.jpg"
            alt="Logo IceCream"
            width="199"
            height="50"/>
        <div class="header__hamburger">
            <svg class="header__hamburger--icon">
                <use href="../images/icons.svg$icon-hamburger"></use>
            </svg>
            <svg class="header__hamburger--icon">
                <use href="../images/icons.svg$icon-hamburger"></use>
            </svg>
            <svg class="header__hamburger--icon">
                <use href="../images/icons.svg$icon-hamburger"></use>
            </svg>
        </div>
        <div class="header__title">
            ice cream<br>made with<br><span class="header__title--passion">passion</span>
        </div>
        <button type="button">products</button>
        <button type="button">how it's made?</button>
        <img class="header__photo--icecream"
            src="../images/header-icecream.jpg"
            alt="icecream"
            width="171"
            height="410"/>
    </div>
</div>

<div class="mobile-menu">
    <button type="button">buy now</button>
    <a href="x">home</a>
    <a href="x">about us</a>
    <a href="x">how it's made?</a>
    <a href="x">our products</a>
    <a href="x">contact</a>
</div>