<header class="head">
    <div class="container">
        <div class="header">
            <img class="header__logo"
                src="../images/logo 1.jpg"
                alt="Logo IceCream"
                width="199"
                height="50"/>

            <nav class="header__nav">
                <a class="header__nav-link" href="#home">home</a>
                <a class="header__nav-link" href="#about-us">about us</a>
                <a class="header__nav-link" href="#how-it's-made">how it's made?</a>
                <a class="header__nav-link" href="#our-products">our products</a>
                <a class="header__nav-link" href="#contact">contact</a>
            </nav>
            <button class="header__button" type="button">buy now</button>

            <div class="header__burger">
                <svg class="header__burger--icon" width="20" height="12">
                    <use href="../images/Burger.svg"></use>
                </svg>
            </div>
            <h1 class="header__title">
                ice cream<br>made with<br><span class="header__title--passion">passion</span>
            </h1>
            <button type="button">
                <a href="#products">products</a>
            </button>
            <button type="button">
                <a href="#how-it's-made">how it's made?</a>
            </button>
            <img class="header__photo--icecream"
                src="../images/header-icecream.jpg"
                alt="icecream"
                width="171"
                height="410"/>
        </div>
    </div>

    <div class="mobile-menu">
        <div class="mobile-menu__close">
            <svg class="mobile-menu__close--icon" width="14" height="14">
                <use href="../images/close.svg"></use>
            </svg>
        </div>
        <button class="mobile-menu__button" type="button">buy now</button>
        <nav class="mobile-menu__nav">
            <a class="mobile-menu__nav-link" href="#home">home</a>
            <a class="mobile-menu__nav-link" href="#about-us">about us</a>
            <a class="mobile-menu__nav-link" href="#how-it's-made">how it's made?</a>
            <a class="mobile-menu__nav-link" href="#our-products">our products</a>
            <a class="mobile-menu__nav-link" href="#contact">contact</a>
        </nav>
    </div>
</header>