<link rel="stylesheet" href="../sass/products/products.scss" />
<section class="products section">
  <div class="container products__container">
    <div class="products__title">
      <div class="natural">100% NATURAL</div>
      <div class="products__writing">PRODUCTS</div>
    </div>
    <ul class="products__list">
      <li>
        <figure class="products__card_1">
          <img class="product__image_1" src="../images/product-1.png" alt="ICE CREAM" />
          <figcaption class="products__text-flex">
            <h2 class="products__name">ICE CREAM</h2>

            <span class="products__description"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </span>
          </figcaption>
          <div class="button-locations">
            <button class="arrow" type="button"></button>
          </div>
        </figure>
      </li>
      <li>
        <figure class="products__card_2">
          <img class="product__image_2" src="../images/product-2.png" alt="ICE COFFEE" />
          <figcaption class="products__text-flex">
            <h2 class="products__name">ICE COFFEE</h2>
            <span class="products__description"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </span>
          </figcaption>
          <div class="button-locations">
            <button class="arrow" type="button"></button>
          </div>
        </figure>
      </li>
      <li>
        <figure class="products__card_3">
          <img class="product__image_3" src="../images/product-3.png" alt="MILKSHAKES" />
          <figcaption class="products__text-flex">
            <h2 class="products__name">MILKSHAKES</h2>
            <span class="products__description"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </span>
          </figcaption>
          <div class="button-locations">
            <button class="arrow" type="button"></button>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
